---
import AboutHeroImage from "../assets/photo3-cj.jpg";
import Layout from "../layouts/Page.astro";
---

<Layout
    title="Join Us"
    description="A page about how to join Stonnall and Shenstone Camera Clubß"
    pubDate={new Date("1 September 2025")}
    heroImage={AboutHeroImage}
    heroImageCaption="By Chris James, SSCC member"
    heroImageCaptionColour="white"
>
    <p>
        We are a brand new club - at the moment we are still getting our
        membership infrastructure up and running.
    </p>
    <p>
        So, you can join by simply turning up to on our <a
            href="/regular-meetings">regular meetings</a
        >, or by emailing us at <a href="mailto:hello@sscc.org.uk"
            >hello@sscc.org.uk</a
        >.
    </p>

    <p>
        We do not currently charge a membership fee but we are considering our
        options as we grow. At the moment, we charge £3 per <a
            href="/regular-meetings">regular meeting</a
        >, payable on the door. We are an unincorporated association and all
        monies are used for the benefit of the club.
    </p>
</Layout>
