---
import AboutHeroImage from "../assets/photo3-cj.jpg";
import Layout from "../layouts/Page.astro";
---

<script src="https://membermojo.co.uk/embed.js" async></script>
<Layout
    title="Join Us"
    description="A page about how to join Stonnall and Shenstone Camera Clubß"
    pubDate={new Date("1 September 2025")}
    heroImage={AboutHeroImage}
    heroImageCaption="By Chris James, SSCC member"
    heroImageCaptionColour="white"
>
    <h1>Try us out</h1>
    <p>
        Just turn up to a <a href="/regular-meetings">regular meeting</a>. Until
        2026, we charge £3 payable on the door. We are an unincorporated
        association and all monies are used for the benefit of the club.
    </p>

    <h1>Join us</h1>
    <p>
        Join up with a membership. <a href="/regular-meetings"
            >Regular meetings</a
        > are free for members. (Optional trips etc. may be subject to extra charges).
    </p>
    <iframe
        src="https://membermojo.co.uk/sscameraclub/joinus?embed"
        style="width: 100%; height: 1000px; border: none;"
    >
    </iframe>
    <p></p>
    <h1>Any questions?</h1>
    <p>
        Email us at <a href="mailto:hello@sscc.org.uk">hello@sscc.org.uk</a>.
    </p>
</Layout>
