---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import logo from "../assets/logo.svg";
---

<header>
    <nav>
        <h2><img src={logo.src} alt="SSCC Logo" width="200" /></h2>
        <!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
        <div class="internal-links">
            <HeaderLink href="/">About</HeaderLink>
            <HeaderLink href="/blog">Updates</HeaderLink>
            <HeaderLink href="/schedule">Schedule</HeaderLink>
            <HeaderLink href="/join">Join</HeaderLink>
        </div>
        <div class="social-links">
            <a
                href="https://www.facebook.com/groups/1327548005004867/"
                target="_blank"
            >
                <span class="sr-only">Find us on Facebook</span>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                >
                    <rect width="32" height="32" rx="6" fill="#1877F3"></rect>
                    <path
                        d="M21.333 11.667h-2c-.366 0-.667.3-.667.667v2h2.333c.086 0 .167.07.167.167v2.166a.167.167 0 0 1-.167.167h-2.333V22a.167.167 0 0 1-.167.167h-2.166a.167.167 0 0 1-.167-.167v-5.167h-1.334a.167.167 0 0 1-.167-.167v-2.166c0-.097.07-.167.167-.167h1.334v-2c0-1.721 1.279-3 3-3h2c.097 0 .167.07.167.167v2.167a.167.167 0 0 1-.167.167z"
                        fill="#fff"></path>
                </svg>
            </a>
        </div>
    </nav>
</header>

<style>
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-size: 2em;
        margin-top: 0.5em;
        margin-bottom: 0em; /* keep space below title as before */
    }

    .internal-links {
        display: flex;
        justify-content: center;
        gap: 1.5em;
        margin-bottom: 0.5em; /* space below menu */
    }

    .social-links {
        display: none;
        justify-content: center;
    }

    header {
        margin: 0;
        padding: 0 1em;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }

    nav a {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }

    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
